$align-center: center;
$margin-gral: 1rem;
$padding-gral: 1rem;
$padding-border: 0.25rem;
$font-title: 'Dancing Script', cursive;
$font:  'Handlee', cursiva;
$font-color: #7F7C82;
$size-title: 2rem;
$size-sub: 1.75rem;
$size-text: 1.25rem;
$background-title: #FBF4E9;
$background-subtitle: #B1E693;
$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
$flex-wrap: wrap;
$text-decoretion: none;
$text-align: center;
$borde-radius: 15%;
$justify-center: center;
$displey-flex: flex;
$color-especial: rgba(27, 27, 27, 0.822);

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html{
    font-size: 62,5%;}

/*body html*/
.completo{
    font-family: $font;
    color: $font-color;
    background-color: $background-subtitle;
}
/*header html*/
.inicio{
    text-decoration: $text-decoretion;
    font-family: $font-title;
    font-size: $size-text;
    background-color: $background-subtitle;
    &__logo{
        justify-content: $justify-center;
        align-items: $align-center;
        font-size: $size-title;
    }
    &__gen{
        width: 80vw;
    }
    &__lista{
        font-size: $size-text;
    }
.shake-horizontal {
            -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
                    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
@-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-10px);
              transform: translateX(-10px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    80% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
    }
    90% {
      -webkit-transform: translateX(-8px);
              transform: translateX(-8px);
    }
  }
  
}
/*main titulo de html*/

.txt{
    margin: $margin-gral;
    padding: $padding-gral;

    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        text-align: $align-center;
        font-size: $size-sub;
        
    }
    &__img{
        display: $displey-flex;
        flex-direction: column;
        flex-wrap: $flex-wrap;
        align-items: $align-center;
        &--1{
            width: 60vh;
            margin: $margin-gral;
            padding: $padding-border;
            border: $font-color;
            border-radius: $borde-radius;
            box-shadow: $box-shadow,
        } 
        .tran {
            transition: all 0.5s ease-in;
        }
        .tran:hover{
            transform: scale(1.1, 1.1);
            color: black;
        }        
        .mov{
            transform: rotate(15deg);
        }        
        .mov1{
            transform: rotate(-15deg);
        }   
    }    
    &__des{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
    &__info1{
        text-align: $text-align;
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
    }
    &__info{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
    }    
}
.gab{
    font-size: $size-sub;
     &__des{
       margin: $margin-gral;
       padding: $padding-gral;
       text-align: $text-align;
    }
    &__info{
        font-size: $size-text;
        text-align: $text-align;
        margin: $margin-gral;
        padding: $padding-gral;
    }
}
.prod{
    font-size: $size-text;
    &__des{
        margin: $margin-gral;
        padding: $padding-gral;
        text-align: $text-align;
    }
    &__video{
        display: $displey-flex;
        flex-wrap: $flex-wrap;
        justify-content: space-around;
    }
    &__video--1{
        width: 60vh;
        margin: $margin-gral;
        padding: $padding-border;
        border: $font-color;
        border-radius: $borde-radius;
        box-shadow: $box-shadow,
    }
}
.boot{
    margin: $margin-gral;
    padding: $padding-gral;
    font-size: $size-text;

    &__acor{
        font-size: $size-text;
    }
}
.accordion-button:not(.collapsed){
    color: $color-especial;
}

.final{
    background-image: url("../imagenes/footer.jpg");
    background-size: cover;
    font-size: $size-sub;
    text-align: $text-align; 
    color: $color-especial;
    &__text {
        margin: $margin-gral (.3rem);
        padding: $padding-gral;
    }
    &__redes{
        display: $displey-flex;
        justify-content: space-evenly;   
        margin: $margin-gral;
        padding: $padding-gral;
    }
}

/*boton 404*/
.regalos{
    margin: $margin-gral;
    padding: $padding-gral;

}
.btn{
    margin: $margin-gral (.3rem);
    padding: $padding-gral;
    color: $color-especial;
    background-color: white;
}

/*faciales*/

.faciales{
    margin: $margin-gral;
    padding: $padding-gral;
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__img{
        display: $displey-flex;
        flex-wrap: $flex-wrap;
        justify-content: space-around;
        &--1{
            width: 60vh;
            margin: $margin-gral;
            padding: $padding-border;
            border: $font-color;
            border-radius: $borde-radius;
            box-shadow: $box-shadow,           
        }
    }
}
.peeling{
    margin: $margin-gral;
    padding: $padding-gral;
    font-size: $size-sub;
    text-align: $text-align;   
    &__desa{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
}

/*corporales*/

.corporales{
    margin: $margin-gral;
    padding: $padding-gral;
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__titulos{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__rusas{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
    &__body{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
    &__crio{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
}


/*productos*/

.produc{
    margin: $margin-gral;
    padding: $padding-gral; 
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__sub{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
}
.card-group{
    margin: $margin-gral ;
    padding: $padding-gral;
    }
.card-second{
    margin: $margin-gral ;
    padding: $padding-gral;
}

/*promociones*/

.prom{
    margin: $margin-gral;
    padding: $padding-gral;
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__des{
        margin: $margin-gral (.4rem);
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__des2{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
}    
.table{
    margin: $margin-gral;
    padding: $padding-gral;
    font-size: $size-text;
    text-align: $text-align;
    
}

/*cuadro de promoción*/

.beneficio__cuadro--color{
    padding: $padding-gral;
    font-size: $size-text;
    text-align: $text-align;
    background-color: #CDF0EA;
    border: turquoise solid;
}

/*contactos*/

.form{
    margin: $margin-gral (.5rem);
    padding: $padding-gral;
    text-align: $text-align;
    &__form{
        font-size: $size-text;
    }
    &__row{
        margin: $margin-gral (.5rem);
        display: $displey-flex;
        justify-content: $justify-center;
        align-items: $align-center;
    }
    &__label{
        color: $color-especial;
        
    }
}
/*404*/
.encabezado{
    display: grid;
    justify-items: center;
    font-family: $font;
    font-size: $size-text;
    color: $font-color;
}
.cala{
    grid-template-columns: 1fr, auto, 1fr;
    align-items: $align-center;
}