/*corporales*/

.corporales{
    margin: $margin-gral;
    padding: $padding-gral;
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__titulos{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__rusas{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
    &__body{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
    &__crio{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-text;
        text-align: $text-align;
    }
}