/*corporales*/

.corporales{
    margin: $margin-gral;
    padding: $padding-gral;
    &__intro{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
    }
    &__titulos{
        margin: $margin-gral;
        padding: $padding-gral;
        font-size: $size-sub;
        text-align: $text-align;
   }
}
@for $i from 3 to 5 {
    .corporales-#{$i} {
    margin: $margin-gral;
    padding: $padding-gral;
    font-size: $size-text;
    text-align: $text-align;}
}   