$margin-gral: 1rem;
$padding-gral: 1rem;
$padding-border: 0.25rem;
$widthVw: 80vw;
$widthVh: 60vh;
$font-title: 'Dancing Script', cursive;
$font: 'Handlee', cursiva;
$font-color: #7F7C82;
$size-title: 2rem;
$size-sub: 1.75rem;
$size-text: 1.25rem;
$background-title: #FBF4E9;
$background-subtitle: #B1E693;
$background-cover: cover;
$box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); 
$text-decoretion: none;
$text-align: center;
$borde-radius: 15%;
$justify-contentSpace: space-around; 
$justify-center: center;
$displey-flex: flex;
$flex-wrap: wrap;
$flex-column: column;
$displey-grid: grid;
$grid-columns: 1fr, auto, 1fr;
$color-especial: rgba(27, 27, 27, 0.822);
$align-center: center;